<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <form action="" method="post">
        <label for="name">Your Name:</label>
        <input type="text" name="name" id="name">
        <label for="location">Dojo Location: </label>
        <select name="location" id="location">
            <option value="arlington">Arlington</option>
            <option value="bellevue">Bellevue</option>
            <option value="boise">Boise</option>
            <option value="chicago">Chicago</option>
            <option value="dallas">Dallas</option>
            <option value="la">Los Angeles</option>
            <option value="oakland">Oakland</option>
            <option value="oc">Orange County</option>
            <option value="san-jose">San Jose</option>
            <option value="tulsa">Tulsa</option>
        </select>
        <label for="language">Favorite Language: </label>
        <select name="language" id="language">
            <option value="javascript">JavaScript</option>
            <option value="html">HTML/CSS</option>
            <option value="sql">SQL</option>
            <option value="python">Python</option>
            <option value="java">Java</option>
            <option value="bash">Bash/Shell/PowerShell</option>
            <option value="c-sharp">C#</option>
            <option value="php">PHP</option>
            <option value="c-plus-plus">C++</option>
            <option value="typescript">TypeScript</option>
        </select>
        <label for="comment">Comment (optional): </label>
        <textarea name="comment" id="comment" rows="10"></textarea>
        <button type="submit">Button</button>
    </form>
</body>

</html>