<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <form action="/result" method="post">
        {% csrf_token %}
        <label for="name">Your Name:</label>
        <input type="text" name="name" id="name">
        <label for="location">Dojo Location: </label>
        <select name="location" id="location">
            <option value="Arlington">Arlington</option>
            <option value="Bellevue">Bellevue</option>
            <option value="Boise">Boise</option>
            <option value="Chicago">Chicago</option>
            <option value="Dallas">Dallas</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Oakland">Oakland</option>
            <option value="Orange County">Orange County</option>
            <option value="San Jose">San Jose</option>
            <option value="Tulsa">Tulsa</option>
        </select>
        <label for="language">Favorite Language: </label>
        <select name="language" id="language">
            <option value="JavaScript">JavaScript</option>
            <option value="HTML/CSS">HTML/CSS</option>
            <option value="SQL">SQL</option>
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="Bash/Shell/PowerShell">Bash/Shell/PowerShell</option>
            <option value="C#">C#</option>
            <option value="PHP">PHP</option>
            <option value="C++">C++</option>
            <option value="TypeScript">TypeScript</option>
        </select>
        <label for="comment">Comment (optional): </label>
        <textarea name="comment" id="comment"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>

</html>